# Create a sampling frame for interviews from Zenodo spreadsheets corpus
Need to make a list of creators, including deposit IDs and deposit publication dates.

In [1]:
import re
from datetime import datetime
import json
import pandas as pd
import math
import numpy as np
from edtf import parse_edtf, struct_time_to_date
from decimal import Decimal
import matplotlib.pyplot as plt

In [2]:
def parseable_date(x):
    y = parse_edtf(x)
    z = struct_time_to_date(y.lower_strict()).year
    return z

In [3]:
#'/Volumes/ap180/zenodo_API_metadata_results_2025-01-08_01-46_PM.json'
#'zenodo_snippet.json'
with open('/Volumes/ap180/zenodo_API_metadata_results_2025-01-08_01-46_PM.json', 'r') as f:
    data = f.read()
zenodo_dict = json.loads(data)

In [4]:
#load additional data/records with additional filetypes ots OR xlsm OR xlr OR xltm OR xl OR cell OR xar OR pmd OR xltx OR imp OR ast OR dis OR ogw OR fcs
with open('/Volumes/ap180/zenodo_API_metadata_results_2025-03-21_01-34_PM.json', 'r') as f:
#with open('zenodo_snippet.json', 'r') as f:
    data_additional = f.read()
zenodo_dict_additional = json.loads(data_additional)

In [5]:
zenodo_df = pd.json_normalize(zenodo_dict)

In [12]:
zenodo_df

,created,modified,id,conceptrecid,doi,conceptdoi,doi_url,title,updated,recid,...,metadata.custom.dwc:locality,metadata.custom.dwc:phylum,metadata.custom.dwc:county,metadata.custom.dwc:order,metadata.custom.dwc:genus,metadata.custom.dwc:scientificName,metadata.custom.dwc:eventDate,metadata.custom.dwc:family,metadata.custom.dwc:lifeStage,metadata.custom.ac:captureDevice
0,2018-01-22T09:36:52.399732+00:00,2024-08-03T08:19:13.590054+00:00,883073,883072,10.5281/zenodo.883073,10.5281/zenodo.883072,https://doi.org/10.5281/zenodo.883073,Diffusion coefficients on amorphous polystyren...,2024-08-03T08:19:13.590054+00:00,883073,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-07-26T09:41:44.445985+00:00,2024-07-26T09:41:44.638972+00:00,12918528,12918526,10.5281/zenodo.12918528,10.5281/zenodo.12918526,https://doi.org/10.5281/zenodo.12918528,Supplementary table 1 for 'Imperial timber? De...,2024-07-26T09:41:44.638972+00:00,12918528,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-03-18T00:48:17.856433+00:00,2024-07-24T23:16:53.648932+00:00,2596819,2596818,10.5281/zenodo.2596819,10.5281/zenodo.2596818,https://doi.org/10.5281/zenodo.2596819,Measuring and Visualizing Solar UV for a Wide ...,2024-07-24T23:16:53.648932+00:00,2596819,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-10-15T15:43:14.519549+00:00,2020-01-20T17:13:32.954053+00:00,3490855,3239079,10.5281/zenodo.3490855,10.5281/zenodo.3239079,https://doi.org/10.5281/zenodo.3490855,Function and competencies matrices for three t...,2020-01-20T17:13:32.954053+00:00,3490855,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-10-14T06:37:25.372553+00:00,2020-01-24T19:24:55.845564+00:00,145635,644828,10.5281/zenodo.145635,,https://doi.org/10.5281/zenodo.145635,Mitgliederzahlen und Chorleiter des Leipziger ...,2020-01-24T19:24:55.845564+00:00,145635,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70678,2024-11-09T13:36:14.459767+00:00,2024-11-09T13:36:14.611956+00:00,14059660,14059659,10.5281/zenodo.14059660,10.5281/zenodo.14059659,https://doi.org/10.5281/zenodo.14059660,Complex Patterns and Determinants of Regional ...,2024-11-09T13:36:14.611956+00:00,14059660,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70679,2024-11-10T19:17:34.786995+00:00,2024-11-10T19:17:36.692567+00:00,10955209,10955208,10.5281/zenodo.10955209,10.5281/zenodo.10955208,https://doi.org/10.5281/zenodo.10955209,Daily time series of 12 human thermal stress i...,2024-11-10T19:17:36.692567+00:00,10955209,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70680,2024-11-13T10:28:10.820929+00:00,2024-11-13T12:31:04.915224+00:00,14134215,14134214,10.5281/zenodo.14134215,10.5281/zenodo.14134214,https://doi.org/10.5281/zenodo.14134215,Annotated Dataset for Uncertainty Mining : Gol...,2024-11-13T12:31:04.915224+00:00,14134215,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70681,2024-12-31T05:51:14.542256+00:00,2024-12-31T06:58:36.274229+00:00,14580510,14580509,10.5281/zenodo.14580510,10.5281/zenodo.14580509,https://doi.org/10.5281/zenodo.14580510,EpiClim: Weekly District-Wise all-India multi-...,2024-12-31T06:58:36.274229+00:00,14580510,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70682,2024-11-12T15:58:38.497366+00:00,2024-11-12T15:58:38.865773+00:00,14102778,14102777,10.5281/zenodo.14102778,10.5281/zenodo.14102777,https://doi.org/10.5281/zenodo.14102778,Cotitzacions en viu i paraules claus de notíci...,2024-11-12T15:58:38.865773+00:00,14102778,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
zenodo_additional_df = pd.json_normalize(zenodo_dict_additional)

In [104]:
zenodo_additional_df

,created,modified,id,conceptrecid,doi,conceptdoi,doi_url,title,updated,recid,...,metadata.references,metadata.contributors,metadata.grants,metadata.related_identifiers,metadata.subjects,metadata.dates,metadata.imprint.place,metadata.imprint.isbn,metadata.custom.code:codeRepository,metadata.alternate_identifiers
0,2023-08-17T14:58:04.940403+00:00,2024-07-11T12:28:36.997028+00:00,8256459,8256458,10.5281/zenodo.8256459,10.5281/zenodo.8256458,https://doi.org/10.5281/zenodo.8256459,Excel template process mapping and FMEA,2024-07-11T12:28:36.997028+00:00,8256459,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-04-17T14:35:09.179604+00:00,2020-01-20T13:00:13.116204+00:00,2642854,2642853,10.5281/zenodo.2642854,10.5281/zenodo.2642853,https://doi.org/10.5281/zenodo.2642854,"Data for ""Channel development and electric par...",2020-01-20T13:00:13.116204+00:00,2642854,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-12-29T09:29:14.251592+00:00,2020-01-24T19:24:34.617303+00:00,1133810,1133809,10.5281/zenodo.1133810,10.5281/zenodo.1133809,https://doi.org/10.5281/zenodo.1133810,"Data for ""A New Method of Three-Dimensional Lo...",2020-01-24T19:24:34.617303+00:00,1133810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-06-11T12:31:01.310777+00:00,2023-07-19T10:41:49.760520+00:00,8024838,8024837,10.5281/zenodo.8024838,10.5281/zenodo.8024837,https://doi.org/10.5281/zenodo.8024838,Cattle body weight estimator - Curraleiro Pé-...,2023-07-19T10:41:49.760520+00:00,8024838,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-05-17T02:46:11.291995+00:00,2023-05-18T02:27:46.013849+00:00,7943270,7942510,10.5281/zenodo.7943270,10.5281/zenodo.7942510,https://doi.org/10.5281/zenodo.7943270,Paper data,2023-05-18T02:27:46.013849+00:00,7943270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,2020-08-19T15:30:05.206451+00:00,2020-08-20T00:59:23.953973+00:00,3991972,3991971,10.5281/zenodo.3991972,10.5281/zenodo.3991971,https://doi.org/10.5281/zenodo.3991972,Extensive qPCR analysis reveals altered gene e...,2020-08-20T00:59:23.953973+00:00,3991972,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373,2017-12-08T17:54:53.398701+00:00,2020-01-24T19:25:49.918985+00:00,1096964,1096963,10.5281/zenodo.1096964,10.5281/zenodo.1096963,https://doi.org/10.5281/zenodo.1096964,Supplementary Data:Risk Analysis for Real-time...,2020-01-24T19:25:49.918985+00:00,1096964,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,2023-04-24T20:24:47.188668+00:00,2023-05-09T11:00:48.817926+00:00,7859482,7859481,10.5281/zenodo.7859482,10.5281/zenodo.7859481,https://doi.org/10.5281/zenodo.7859482,Identifying cost-effective decarbonisation pat...,2023-05-09T11:00:48.817926+00:00,7859482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,2018-02-02T10:15:04.745762+00:00,2020-01-24T19:24:39.908344+00:00,1164432,1164431,10.5281/zenodo.1164432,10.5281/zenodo.1164431,https://doi.org/10.5281/zenodo.1164432,Supplementary Data for risk analysis,2020-01-24T19:24:39.908344+00:00,1164432,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,2022-01-04T16:26:30.916608+00:00,2022-01-05T01:48:55.851996+00:00,5818037,5818036,10.5281/zenodo.5818037,10.5281/zenodo.5818036,https://doi.org/10.5281/zenodo.5818037,NORM4 Excel spreadsheet programs to calculate ...,2022-01-05T01:48:55.851996+00:00,5818037,...,NaN,NaN,NaN,[{'identifier': 'https://muse.union.edu/holloc...,[{'term': 'https://muse.union.edu/hollochk/kur...,NaN,NaN,NaN,NaN,NaN

In [7]:
#https://www.geeksforgeeks.org/concatenate-pandas-dataframes-without-duplicates/
zenodo_all_df = pd.concat([zenodo_df, zenodo_additional_df])

In [8]:
zenodo_all_df

,created,modified,id,conceptrecid,doi,conceptdoi,doi_url,title,updated,recid,...,metadata.custom.dwc:locality,metadata.custom.dwc:phylum,metadata.custom.dwc:county,metadata.custom.dwc:order,metadata.custom.dwc:genus,metadata.custom.dwc:scientificName,metadata.custom.dwc:eventDate,metadata.custom.dwc:family,metadata.custom.dwc:lifeStage,metadata.custom.ac:captureDevice
0,2018-01-22T09:36:52.399732+00:00,2024-08-03T08:19:13.590054+00:00,883073,883072,10.5281/zenodo.883073,10.5281/zenodo.883072,https://doi.org/10.5281/zenodo.883073,Diffusion coefficients on amorphous polystyren...,2024-08-03T08:19:13.590054+00:00,883073,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-07-26T09:41:44.445985+00:00,2024-07-26T09:41:44.638972+00:00,12918528,12918526,10.5281/zenodo.12918528,10.5281/zenodo.12918526,https://doi.org/10.5281/zenodo.12918528,Supplementary table 1 for 'Imperial timber? De...,2024-07-26T09:41:44.638972+00:00,12918528,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-03-18T00:48:17.856433+00:00,2024-07-24T23:16:53.648932+00:00,2596819,2596818,10.5281/zenodo.2596819,10.5281/zenodo.2596818,https://doi.org/10.5281/zenodo.2596819,Measuring and Visualizing Solar UV for a Wide ...,2024-07-24T23:16:53.648932+00:00,2596819,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-10-15T15:43:14.519549+00:00,2020-01-20T17:13:32.954053+00:00,3490855,3239079,10.5281/zenodo.3490855,10.5281/zenodo.3239079,https://doi.org/10.5281/zenodo.3490855,Function and competencies matrices for three t...,2020-01-20T17:13:32.954053+00:00,3490855,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-10-14T06:37:25.372553+00:00,2020-01-24T19:24:55.845564+00:00,145635,644828,10.5281/zenodo.145635,,https://doi.org/10.5281/zenodo.145635,Mitgliederzahlen und Chorleiter des Leipziger ...,2020-01-24T19:24:55.845564+00:00,145635,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,2020-08-19T15:30:05.206451+00:00,2020-08-20T00:59:23.953973+00:00,3991972,3991971,10.5281/zenodo.3991972,10.5281/zenodo.3991971,https://doi.org/10.5281/zenodo.3991972,Extensive qPCR analysis reveals altered gene e...,2020-08-20T00:59:23.953973+00:00,3991972,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373,2017-12-08T17:54:53.398701+00:00,2020-01-24T19:25:49.918985+00:00,1096964,1096963,10.5281/zenodo.1096964,10.5281/zenodo.1096963,https://doi.org/10.5281/zenodo.1096964,Supplementary Data:Risk Analysis for Real-time...,2020-01-24T19:25:49.918985+00:00,1096964,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,2023-04-24T20:24:47.188668+00:00,2023-05-09T11:00:48.817926+00:00,7859482,7859481,10.5281/zenodo.7859482,10.5281/zenodo.7859481,https://doi.org/10.5281/zenodo.7859482,Identifying cost-effective decarbonisation pat...,2023-05-09T11:00:48.817926+00:00,7859482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,2018-02-02T10:15:04.745762+00:00,2020-01-24T19:24:39.908344+00:00,1164432,1164431,10.5281/zenodo.1164432,10.5281/zenodo.1164431,https://doi.org/10.5281/zenodo.1164432,Supplementary Data for risk analysis,2020-01-24T19:24:39.908344+00:00,1164432,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,2022-01-04T16:26:30.916608+00:00,2022-01-05T01:48:55.851996+00:00,5818037,5818036,10.5281/zenodo.5818037,10.5281/zenodo.5818036,https://doi.org/10.5281/zenodo.5818037,NORM4 Excel spreadsheet programs to calculate ...,2022-01-05T01:48:55.851996+00:00,5818037,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#https://stackoverflow.com/questions/28885073/resetting-index-after-calling-pandas-drop-duplicates
zenodo_all_reindexed = zenodo_all_df.reset_index(drop=True)

In [20]:
zenodo_all_reindexed

,created,modified,id,conceptrecid,doi,conceptdoi,doi_url,title,updated,recid,...,metadata.custom.dwc:locality,metadata.custom.dwc:phylum,metadata.custom.dwc:county,metadata.custom.dwc:order,metadata.custom.dwc:genus,metadata.custom.dwc:scientificName,metadata.custom.dwc:eventDate,metadata.custom.dwc:family,metadata.custom.dwc:lifeStage,metadata.custom.ac:captureDevice
0,2018-01-22T09:36:52.399732+00:00,2024-08-03T08:19:13.590054+00:00,883073,883072,10.5281/zenodo.883073,10.5281/zenodo.883072,https://doi.org/10.5281/zenodo.883073,Diffusion coefficients on amorphous polystyren...,2024-08-03T08:19:13.590054+00:00,883073,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-07-26T09:41:44.445985+00:00,2024-07-26T09:41:44.638972+00:00,12918528,12918526,10.5281/zenodo.12918528,10.5281/zenodo.12918526,https://doi.org/10.5281/zenodo.12918528,Supplementary table 1 for 'Imperial timber? De...,2024-07-26T09:41:44.638972+00:00,12918528,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-03-18T00:48:17.856433+00:00,2024-07-24T23:16:53.648932+00:00,2596819,2596818,10.5281/zenodo.2596819,10.5281/zenodo.2596818,https://doi.org/10.5281/zenodo.2596819,Measuring and Visualizing Solar UV for a Wide ...,2024-07-24T23:16:53.648932+00:00,2596819,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-10-15T15:43:14.519549+00:00,2020-01-20T17:13:32.954053+00:00,3490855,3239079,10.5281/zenodo.3490855,10.5281/zenodo.3239079,https://doi.org/10.5281/zenodo.3490855,Function and competencies matrices for three t...,2020-01-20T17:13:32.954053+00:00,3490855,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-10-14T06:37:25.372553+00:00,2020-01-24T19:24:55.845564+00:00,145635,644828,10.5281/zenodo.145635,,https://doi.org/10.5281/zenodo.145635,Mitgliederzahlen und Chorleiter des Leipziger ...,2020-01-24T19:24:55.845564+00:00,145635,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71055,2020-08-19T15:30:05.206451+00:00,2020-08-20T00:59:23.953973+00:00,3991972,3991971,10.5281/zenodo.3991972,10.5281/zenodo.3991971,https://doi.org/10.5281/zenodo.3991972,Extensive qPCR analysis reveals altered gene e...,2020-08-20T00:59:23.953973+00:00,3991972,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71056,2017-12-08T17:54:53.398701+00:00,2020-01-24T19:25:49.918985+00:00,1096964,1096963,10.5281/zenodo.1096964,10.5281/zenodo.1096963,https://doi.org/10.5281/zenodo.1096964,Supplementary Data:Risk Analysis for Real-time...,2020-01-24T19:25:49.918985+00:00,1096964,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71057,2023-04-24T20:24:47.188668+00:00,2023-05-09T11:00:48.817926+00:00,7859482,7859481,10.5281/zenodo.7859482,10.5281/zenodo.7859481,https://doi.org/10.5281/zenodo.7859482,Identifying cost-effective decarbonisation pat...,2023-05-09T11:00:48.817926+00:00,7859482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71058,2018-02-02T10:15:04.745762+00:00,2020-01-24T19:24:39.908344+00:00,1164432,1164431,10.5281/zenodo.1164432,10.5281/zenodo.1164431,https://doi.org/10.5281/zenodo.1164432,Supplementary Data for risk analysis,2020-01-24T19:24:39.908344+00:00,1164432,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71059,2022-01-04T16:26:30.916608+00:00,2022-01-05T01:48:55.851996+00:00,5818037,5818036,10.5281/zenodo.5818037,10.5281/zenodo.5818036,https://doi.org/10.5281/zenodo.5818037,NORM4 Excel spreadsheet programs to calculate ...,2022-01-05T01:48:55.851996+00:00,5818037,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#zenodo_deduped_df.drop_duplicates()
#https://stackoverflow.com/questions/43855462/pandas-drop-duplicates-method-not-working-on-dataframe-containing-lists
zenodo_deduped = zenodo_all_reindexed.loc[zenodo_all_reindexed.astype(str).drop_duplicates().index]

In [25]:
zenodo_deduped.info()

<class 'pandas.core.frame.DataFrame'>
Index: 69587 entries, 0 to 71059
Columns: 121 entries, created to metadata.custom.ac:captureDevice
dtypes: bool(1), int64(10), object(110)
memory usage: 64.3+ MB

In [101]:
zenodo_deduped_licenses = zenodo_deduped.groupby(['metadata.license.id']).agg({'metadata.license.id': ['count']})

In [102]:
zenodo_deduped_licenses

                      metadata.license.id
                                    count
metadata.license.id
0bsd                                    2
afl-1.1                                 2
afl-2.0                                 1
afl-3.0                                 4
agpl-3.0-or-later                       5
...                                   ...
other-nc                               44
other-open                            181
other-pd                               39
ukcrown                                 1
zenodo-freetoread-1.0                   3

[79 rows x 1 columns]

In [103]:
filetime = datetime.now()
filetime = filetime.strftime('%Y-%m-%d_%I-%M_%p')
zenodo_deduped_licenses.to_csv(f'zenodo_deduped_licenses_{filetime}.csv')

In [26]:
zenodo_dates_df = zenodo_deduped[['metadata.publication_date','created','id']]

In [43]:
zenodo_dates_df = zenodo_dates_df.drop_duplicates()

In [44]:
zenodo_dates_df

      metadata.publication_date                           created        id
0                    2017-09-01  2018-01-22T09:36:52.399732+00:00    883073
1                    2014-10-27  2024-07-26T09:41:44.445985+00:00  12918528
2                    2019-03-21  2019-03-18T00:48:17.856433+00:00   2596819
3                    2019-10-15  2019-10-15T15:43:14.519549+00:00   3490855
4                    2016-10-14  2016-10-14T06:37:25.372553+00:00    145635
...                         ...                               ...       ...
71051                2023-04-24  2023-04-24T21:17:59.484813+00:00   7860507
71052                2021-08-28  2021-12-28T21:28:00.497712+00:00   5808024
71054                2021-10-07  2021-10-25T04:41:07.999135+00:00   5593205
71057                2023-04-24  2023-04-24T20:24:47.188668+00:00   7859482
71058                2018-02-02  2018-02-02T10:15:04.745762+00:00   1164432

[69420 rows x 3 columns]

In [45]:
zenodo_dates_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 69420 entries, 0 to 71058
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   metadata.publication_date  69420 non-null  object
 1   created                    69420 non-null  object
 2   id                         69420 non-null  int64
dtypes: int64(1), object(2)
memory usage: 2.1+ MB

In [29]:
zenodo_creators_df = pd.json_normalize(zenodo_dict, record_path=['metadata','creators'],
                                       meta=['id']
                                      )

In [30]:
zenodo_creators_df

,name,affiliation,orcid,gnd,id
0,"Martinez-Lopez, Brais",Søltofts Plads Buildding 227 2800 Kongens Lyng...,0000-0001-5293-9990,NaN,883073
1,"Visser, Ronald",Saxion University of Applied Sciences,0000-0001-6966-1729,NaN,12918528
2,"Mims III, Forrest",Geronimo Creek Observatory,NaN,NaN,2596819
3,"McGonigle, Andrew",University of Sheffield,NaN,NaN,2596819
4,"Wilkes, Thomas",University of Sheffield,NaN,NaN,2596819
...,...,...,...,...,...
228007,Neetiraj Malviya,Centre for Development of Advanced Computing P...,NaN,NaN,14580510
228008,Arshmehar Kaur,"Guru Tegh Bahadur Institute of Technology, Del...",NaN,NaN,14580510
228009,Vaisakh SB,Indian Institute of Tropical Meteorology,NaN,NaN,14580510
228010,"Ripoll Vitini, Leopoldo",None,NaN,NaN,14102778
228011,"Arias Ruiz, Sergio",None,NaN,NaN,14102778

In [31]:
zenodo_creators_additional_df = pd.json_normalize(zenodo_dict_additional, record_path=['metadata','creators'],
                                       meta=['id']
                                      )

In [32]:
zenodo_creators_additional_df

,name,affiliation,orcid,id
0,Per Halvorsen,Varian Medical System,NaN,8256459
1,Navneeth Hariharan,Beth Israel Deaconess Medical Center,NaN,8256459
2,Fan Xiangpeng,"State Key Laboratory of Severe Weather, Chines...",NaN,2642854
3,Zhang Yijun,"Institute of Atmospheric Sciences, FuDan Unive...",NaN,2642854
4,Yao Wen,"State Key Laboratory of Severe Weather, Chines...",NaN,2642854
...,...,...,...,...
2793,Zhang Yu,Hohai university,NaN,1096964
2794,"Reppin, Lilly Mercedes",Imperial College London,0009-0005-5903-5923,7859482
2795,"Ntonyane, Lungile",Eskom Holdings,NaN,7859482
2796,Juan Chen,Hohai University,NaN,1164432
2797,Kurt Hollocher,"Union College, Schenectady, NY, USA",NaN,5818037

In [33]:
#https://www.geeksforgeeks.org/concatenate-pandas-dataframes-without-duplicates/
zenodo_creators_all_df = pd.concat([zenodo_creators_df, zenodo_creators_additional_df])

In [34]:
zenodo_creators_all_df

,name,affiliation,orcid,gnd,id
0,"Martinez-Lopez, Brais",Søltofts Plads Buildding 227 2800 Kongens Lyng...,0000-0001-5293-9990,NaN,883073
1,"Visser, Ronald",Saxion University of Applied Sciences,0000-0001-6966-1729,NaN,12918528
2,"Mims III, Forrest",Geronimo Creek Observatory,NaN,NaN,2596819
3,"McGonigle, Andrew",University of Sheffield,NaN,NaN,2596819
4,"Wilkes, Thomas",University of Sheffield,NaN,NaN,2596819
...,...,...,...,...,...
2793,Zhang Yu,Hohai university,NaN,NaN,1096964
2794,"Reppin, Lilly Mercedes",Imperial College London,0009-0005-5903-5923,NaN,7859482
2795,"Ntonyane, Lungile",Eskom Holdings,NaN,NaN,7859482
2796,Juan Chen,Hohai University,NaN,NaN,1164432
2797,Kurt Hollocher,"Union College, Schenectady, NY, USA",NaN,NaN,5818037

In [35]:
#https://stackoverflow.com/questions/28885073/resetting-index-after-calling-pandas-drop-duplicates
zenodo_creators_all_df = zenodo_creators_all_df.drop_duplicates().reset_index(drop=True)

In [36]:
zenodo_creators_all_df

,name,affiliation,orcid,gnd,id
0,"Martinez-Lopez, Brais",Søltofts Plads Buildding 227 2800 Kongens Lyng...,0000-0001-5293-9990,NaN,883073
1,"Visser, Ronald",Saxion University of Applied Sciences,0000-0001-6966-1729,NaN,12918528
2,"Mims III, Forrest",Geronimo Creek Observatory,NaN,NaN,2596819
3,"McGonigle, Andrew",University of Sheffield,NaN,NaN,2596819
4,"Wilkes, Thomas",University of Sheffield,NaN,NaN,2596819
...,...,...,...,...,...
224983,"Wilkins, Brad W.",University of Gonzaga,NaN,NaN,5593205
224984,"Jones, Andrew M.",University of Exeter,NaN,NaN,5593205
224985,"Reppin, Lilly Mercedes",Imperial College London,0009-0005-5903-5923,NaN,7859482
224986,"Ntonyane, Lungile",Eskom Holdings,NaN,NaN,7859482
224987,Juan Chen,Hohai University,NaN,NaN,1164432

In [37]:
zenodo_creators_all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224988 entries, 0 to 224987
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   name         224988 non-null  object
 1   affiliation  186601 non-null  object
 2   orcid        97908 non-null   object
 3   gnd          16 non-null      object
 4   id           224988 non-null  object
dtypes: object(5)
memory usage: 8.6+ MB

In [38]:
zenodo_dates_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 69587 entries, 0 to 71059
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   metadata.publication_date  69587 non-null  object
 1   created                    69587 non-null  object
 2   id                         69587 non-null  int64
dtypes: int64(1), object(2)
memory usage: 2.1+ MB

In [47]:
#https://blog.finxter.com/5-best-ways-to-merge-dataframes-with-one-to-many-relationships-using-python-pandas/
#https://www.tutorialspoint.com/python-pandas-merge-dataframe-with-one-to-many-relation
zenodo_creators_dates = pd.merge(zenodo_creators_all_df, zenodo_dates_df, on='id', validate='many_to_one', indicator=True)

In [48]:
zenodo_creators_dates

,name,affiliation,orcid,gnd,id,metadata.publication_date,created,_merge
0,"Martinez-Lopez, Brais",Søltofts Plads Buildding 227 2800 Kongens Lyng...,0000-0001-5293-9990,NaN,883073,2017-09-01,2018-01-22T09:36:52.399732+00:00,both
1,"Visser, Ronald",Saxion University of Applied Sciences,0000-0001-6966-1729,NaN,12918528,2014-10-27,2024-07-26T09:41:44.445985+00:00,both
2,"Mims III, Forrest",Geronimo Creek Observatory,NaN,NaN,2596819,2019-03-21,2019-03-18T00:48:17.856433+00:00,both
3,"McGonigle, Andrew",University of Sheffield,NaN,NaN,2596819,2019-03-21,2019-03-18T00:48:17.856433+00:00,both
4,"Wilkes, Thomas",University of Sheffield,NaN,NaN,2596819,2019-03-21,2019-03-18T00:48:17.856433+00:00,both
...,...,...,...,...,...,...,...,...
224983,"Wilkins, Brad W.",University of Gonzaga,NaN,NaN,5593205,2021-10-07,2021-10-25T04:41:07.999135+00:00,both
224984,"Jones, Andrew M.",University of Exeter,NaN,NaN,5593205,2021-10-07,2021-10-25T04:41:07.999135+00:00,both
224985,"Reppin, Lilly Mercedes",Imperial College London,0009-0005-5903-5923,NaN,7859482,2023-04-24,2023-04-24T20:24:47.188668+00:00,both
224986,"Ntonyane, Lungile",Eskom Holdings,NaN,NaN,7859482,2023-04-24,2023-04-24T20:24:47.188668+00:00,both
224987,Juan Chen,Hohai University,NaN,NaN,1164432,2018-02-02,2018-02-02T10:15:04.745762+00:00,both

In [49]:
zenodo_creators_dates = zenodo_creators_dates.drop_duplicates()

In [50]:
zenodo_creators_dates

,name,affiliation,orcid,gnd,id,metadata.publication_date,created,_merge
0,"Martinez-Lopez, Brais",Søltofts Plads Buildding 227 2800 Kongens Lyng...,0000-0001-5293-9990,NaN,883073,2017-09-01,2018-01-22T09:36:52.399732+00:00,both
1,"Visser, Ronald",Saxion University of Applied Sciences,0000-0001-6966-1729,NaN,12918528,2014-10-27,2024-07-26T09:41:44.445985+00:00,both
2,"Mims III, Forrest",Geronimo Creek Observatory,NaN,NaN,2596819,2019-03-21,2019-03-18T00:48:17.856433+00:00,both
3,"McGonigle, Andrew",University of Sheffield,NaN,NaN,2596819,2019-03-21,2019-03-18T00:48:17.856433+00:00,both
4,"Wilkes, Thomas",University of Sheffield,NaN,NaN,2596819,2019-03-21,2019-03-18T00:48:17.856433+00:00,both
...,...,...,...,...,...,...,...,...
224983,"Wilkins, Brad W.",University of Gonzaga,NaN,NaN,5593205,2021-10-07,2021-10-25T04:41:07.999135+00:00,both
224984,"Jones, Andrew M.",University of Exeter,NaN,NaN,5593205,2021-10-07,2021-10-25T04:41:07.999135+00:00,both
224985,"Reppin, Lilly Mercedes",Imperial College London,0009-0005-5903-5923,NaN,7859482,2023-04-24,2023-04-24T20:24:47.188668+00:00,both
224986,"Ntonyane, Lungile",Eskom Holdings,NaN,NaN,7859482,2023-04-24,2023-04-24T20:24:47.188668+00:00,both
224987,Juan Chen,Hohai University,NaN,NaN,1164432,2018-02-02,2018-02-02T10:15:04.745762+00:00,both

In [51]:
zenodo_creators_dates['created'] = pd.to_datetime(zenodo_creators_dates['created'], format='ISO8601')

In [53]:
zenodo_creators_dates['year_created']=pd.DatetimeIndex(zenodo_creators_dates['created']).year

In [54]:
zenodo_creators_dates['metadata.publication_date'] = zenodo_creators_dates['metadata.publication_date'].str.strip().replace('2023-10-9','2023-10-09')

In [55]:
zenodo_creators_dates

,name,affiliation,orcid,gnd,id,metadata.publication_date,created,_merge,year_created
0,"Martinez-Lopez, Brais",Søltofts Plads Buildding 227 2800 Kongens Lyng...,0000-0001-5293-9990,NaN,883073,2017-09-01,2018-01-22 09:36:52.399732+00:00,both,2018
1,"Visser, Ronald",Saxion University of Applied Sciences,0000-0001-6966-1729,NaN,12918528,2014-10-27,2024-07-26 09:41:44.445985+00:00,both,2024
2,"Mims III, Forrest",Geronimo Creek Observatory,NaN,NaN,2596819,2019-03-21,2019-03-18 00:48:17.856433+00:00,both,2019
3,"McGonigle, Andrew",University of Sheffield,NaN,NaN,2596819,2019-03-21,2019-03-18 00:48:17.856433+00:00,both,2019
4,"Wilkes, Thomas",University of Sheffield,NaN,NaN,2596819,2019-03-21,2019-03-18 00:48:17.856433+00:00,both,2019
...,...,...,...,...,...,...,...,...,...
224983,"Wilkins, Brad W.",University of Gonzaga,NaN,NaN,5593205,2021-10-07,2021-10-25 04:41:07.999135+00:00,both,2021
224984,"Jones, Andrew M.",University of Exeter,NaN,NaN,5593205,2021-10-07,2021-10-25 04:41:07.999135+00:00,both,2021
224985,"Reppin, Lilly Mercedes",Imperial College London,0009-0005-5903-5923,NaN,7859482,2023-04-24,2023-04-24 20:24:47.188668+00:00,both,2023
224986,"Ntonyane, Lungile",Eskom Holdings,NaN,NaN,7859482,2023-04-24,2023-04-24 20:24:47.188668+00:00,both,2023
224987,Juan Chen,Hohai University,NaN,NaN,1164432,2018-02-02,2018-02-02 10:15:04.745762+00:00,both,2018

In [56]:
zenodo_creators_dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224988 entries, 0 to 224987
Data columns (total 9 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   name                       224988 non-null  object
 1   affiliation                186601 non-null  object
 2   orcid                      97908 non-null   object
 3   gnd                        16 non-null      object
 4   id                         224988 non-null  object
 5   metadata.publication_date  224988 non-null  object
 6   created                    224988 non-null  datetime64[ns, UTC]
 7   _merge                     224988 non-null  category
 8   year_created               224988 non-null  int32
dtypes: category(1), datetime64[ns, UTC](1), int32(1), object(6)
memory usage: 13.1+ MB

In [57]:
zenodo_creators_dates[['id','metadata.publication_date']]

              id metadata.publication_date
0         883073                2017-09-01
1       12918528                2014-10-27
2        2596819                2019-03-21
3        2596819                2019-03-21
4        2596819                2019-03-21
...          ...                       ...
224983   5593205                2021-10-07
224984   5593205                2021-10-07
224985   7859482                2023-04-24
224986   7859482                2023-04-24
224987   1164432                2018-02-02

[224988 rows x 2 columns]

In [ ]:
filetime = datetime.now()
filetime = filetime.strftime('%Y-%m-%d_%I-%M_%p')
zenodo_pub_dates = zenodo_creators_dates[['id','metadata.publication_date']]
zenodo_pub_dates.to_csv(f'zenodo_pub_dates_{filetime}.csv')

In [ ]:
#work on dates
# filesize_df['date'] = pd.to_datetime(filesize_df['date'], format='ISO8601', errors='ignore')
# filesize_df['date']
# #https://github.com/saw-leipzig/python-edtf eventually need to convert these ETDF date ranges to...some kind of date.
# date_ranges = filesize_df.query("date.str.contains('/')")
# date_ranges
# filesize_df['year'] = pd.DatetimeIndex(filesize_df['date']).year
# filesize_df['year']
# yeargroup = filesize_df.groupby(by='year')
# yeargroup.first()

In [ ]:
# figuring out edtf library
#edtf_date = parse_edtf('2019-03-21')
# edtf_date
# parseable_date = struct_time_to_date(edtf_date.lower_strict())
# parseable_date.year
# parseable_date('2019-03-21')

In [58]:
zenodo_creators_dates['earliest_pub_year'] = zenodo_creators_dates['metadata.publication_date'].apply(lambda x: parseable_date(x))

In [59]:
zenodo_creators_dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224988 entries, 0 to 224987
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   name                       224988 non-null  object
 1   affiliation                186601 non-null  object
 2   orcid                      97908 non-null   object
 3   gnd                        16 non-null      object
 4   id                         224988 non-null  object
 5   metadata.publication_date  224988 non-null  object
 6   created                    224988 non-null  datetime64[ns, UTC]
 7   _merge                     224988 non-null  category
 8   year_created               224988 non-null  int32
 9   earliest_pub_year          224988 non-null  int64
dtypes: category(1), datetime64[ns, UTC](1), int32(1), int64(1), object(6)
memory usage: 14.8+ MB

In [60]:
#https://www.geeksforgeeks.org/ways-to-filter-pandas-dataframe-by-column-values/
zenodo_creators_2024 = zenodo_creators_dates.query('earliest_pub_year == 2024')

In [61]:
zenodo_creators_2024

,name,affiliation,orcid,gnd,id,metadata.publication_date,created,_merge,year_created,earliest_pub_year
159039,"Yates, Kevin","University of California, Davis",0000-0001-8509-8251,NaN,10719548,2024-02-27,2024-03-01 20:49:37.423328+00:00,both,2024,2024
159040,"Berliner, Aaron J.","University of California, Berkeley",0000-0002-4817-3926,NaN,10719548,2024-02-27,2024-03-01 20:49:37.423328+00:00,both,2024,2024
159041,"Makrygiorgos, Georgios","University of California, Berkeley",0000-0003-2236-5716,NaN,10719548,2024-02-27,2024-03-01 20:49:37.423328+00:00,both,2024,2024
159042,"Tramontana, Porfirio",University of Naples Federico II,0000-0003-3264-185X,NaN,10527894,2024-01-18,2024-01-18 14:06:53.789378+00:00,both,2024,2024
159043,"Marin, Beatriz",Universitat Politècnica de València,0000-0001-8025-0023,NaN,10527894,2024-01-18,2024-01-18 14:06:53.789378+00:00,both,2024,2024
...,...,...,...,...,...,...,...,...,...,...
224185,Neetiraj Malviya,Centre for Development of Advanced Computing P...,NaN,NaN,14580510,2024-12-31,2024-12-31 05:51:14.542256+00:00,both,2024,2024
224186,Arshmehar Kaur,"Guru Tegh Bahadur Institute of Technology, Del...",NaN,NaN,14580510,2024-12-31,2024-12-31 05:51:14.542256+00:00,both,2024,2024
224187,Vaisakh SB,Indian Institute of Tropical Meteorology,NaN,NaN,14580510,2024-12-31,2024-12-31 05:51:14.542256+00:00,both,2024,2024
224188,"Ripoll Vitini, Leopoldo",None,NaN,NaN,14102778,2024-11-12,2024-11-12 15:58:38.497366+00:00,both,2024,2024
224189,"Arias Ruiz, Sergio",None,NaN,NaN,14102778,2024-11-12,2024-11-12 15:58:38.497366+00:00,both,2024,2024

In [ ]:
zenodo_creators_2024.info()

In [62]:
zenodo_creators_2024_orcids = zenodo_creators_2024.dropna(subset=['orcid'])

In [63]:
zenodo_creators_2024_orcids.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38021 entries, 159039 to 224182
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name                       38021 non-null  object
 1   affiliation                33717 non-null  object
 2   orcid                      38021 non-null  object
 3   gnd                        0 non-null      object
 4   id                         38021 non-null  object
 5   metadata.publication_date  38021 non-null  object
 6   created                    38021 non-null  datetime64[ns, UTC]
 7   _merge                     38021 non-null  category
 8   year_created               38021 non-null  int32
 9   earliest_pub_year          38021 non-null  int64
dtypes: category(1), datetime64[ns, UTC](1), int32(1), int64(1), object(6)
memory usage: 2.8+ MB

In [ ]:
#zenodo_creators_2024_orcids = zenodo_creators_2024_orcids.set_index('orcid')

In [ ]:
zenodo_creators_2024_orcids

In [64]:
filetime = datetime.now()
filetime = filetime.strftime('%Y-%m-%d_%I-%M_%p')

zenodo_creators_2024_orcids.to_csv(f'zenodo_creators_2024_orcids_{filetime}.csv')

## attempt to dedupe in pandas, ended up using OR

In [ ]:
zenodo_creators_2024_orcids['orcid'].value_counts() >=2

In [ ]:
#https://datascientyst.com/create-count-column-value_counts-in-pandas-dataframe/
#https://www.statology.org/pandas-settingwithcopywarning/
zenodo_creators_2024_orcids_col_count = zenodo_creators_2024_orcids.loc[:, ['orcid']]

In [ ]:
zenodo_creators_2024_orcids_col_count['orcid'] = zenodo_creators_2024_orcids_col_count['orcid'].value_counts()

In [ ]:
zenodo_creators_2024_orcids_col_count

In [ ]:
 ['col_count'] = zenodo_creators_2024_orcids.groupby(['orcid'])['orcid'].transform('count')

In [ ]:
zenodo_creators_2024_orcids

In [ ]:
zenodo_creators_2024_orcids_pivoted = zenodo_creators_2024_orcids.pivot_table(index="orcid", columns="name", values="id")

In [ ]:
zenodo_creators_2024_orcids_pivoted

In [ ]:
zenodo_creators_2024_orcids_multi = pd.MultiIndex.from_frame(zenodo_creators_2024_orcids)

In [ ]:
zenodo_creators_2024_orcids_multi

## Create a dataframe of just the creators associated with deposits containing Excel or ODS files

In [72]:
#just excel and ods files: https://stackoverflow.com/questions/12096252/use-a-list-of-values-to-select-rows-from-a-pandas-dataframe
#https://www.geeksforgeeks.org/python-pandas-series-from_csv/
excel_ods_ids = pd.read_csv('excel_ods_2025-03-21_02-49_PM.csv', usecols=['id'])

In [73]:
excel_ods_ids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98648 entries, 0 to 98647
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      98648 non-null  int64
dtypes: int64(1)
memory usage: 770.8 KB

In [74]:
excel_ods_series = excel_ods_ids['id']

In [75]:
excel_ods_series

0          883073
1          883073
2          883073
3          883073
4        12918528
           ...
98643     7859482
98644     7859482
98645     7859482
98646     7859482
98647     1164432
Name: id, Length: 98648, dtype: int64

In [76]:
zenodo_creators_2024_orcids_excel_ods = zenodo_creators_2024_orcids.query('id in @excel_ods_series')

In [77]:
zenodo_creators_2024_orcids_excel_ods

,name,affiliation,orcid,gnd,id,metadata.publication_date,created,_merge,year_created,earliest_pub_year
159039,"Yates, Kevin","University of California, Davis",0000-0001-8509-8251,NaN,10719548,2024-02-27,2024-03-01 20:49:37.423328+00:00,both,2024,2024
159040,"Berliner, Aaron J.","University of California, Berkeley",0000-0002-4817-3926,NaN,10719548,2024-02-27,2024-03-01 20:49:37.423328+00:00,both,2024,2024
159041,"Makrygiorgos, Georgios","University of California, Berkeley",0000-0003-2236-5716,NaN,10719548,2024-02-27,2024-03-01 20:49:37.423328+00:00,both,2024,2024
159042,"Tramontana, Porfirio",University of Naples Federico II,0000-0003-3264-185X,NaN,10527894,2024-01-18,2024-01-18 14:06:53.789378+00:00,both,2024,2024
159043,"Marin, Beatriz",Universitat Politècnica de València,0000-0001-8025-0023,NaN,10527894,2024-01-18,2024-01-18 14:06:53.789378+00:00,both,2024,2024
...,...,...,...,...,...,...,...,...,...,...
223854,"Santos, M. Emília",University of Cambridge,0000-0003-3158-7935,NaN,14029309,2024-11,2024-11-11 20:57:13.344048+00:00,both,2024,2024
223855,"Svardal, Hannes",University of Antwerp,0000-0001-7866-7313,NaN,14029309,2024-11,2024-11-11 20:57:13.344048+00:00,both,2024,2024
223856,"Hemberg, Martin",Brigham and Women's Hospital,0000-0001-8895-5239,NaN,14029309,2024-11,2024-11-11 20:57:13.344048+00:00,both,2024,2024
223857,"Durbin, Richard",University of Cambridge,0000-0002-9130-1006,NaN,14029309,2024-11,2024-11-11 20:57:13.344048+00:00,both,2024,2024
223858,"Miska, Eric Alexander",University of Cambridge,0000-0002-4450-576X,NaN,14029309,2024-11,2024-11-11 20:57:13.344048+00:00,both,2024,2024

In [81]:
filetime = datetime.now()
filetime = filetime.strftime('%Y-%m-%d_%I-%M_%p')

zenodo_creators_2024_orcids_excel_ods.to_csv(f'zenodo_creators_2024_orcids_excel_ods_{filetime}.csv')

## Sampling deduped creators

In [82]:
zenodo_creators_2024_orcids_deduped = pd.read_csv('zenodo-creators-2024-orcids-2025-03-24-01-03-PM-deduped.csv')

In [83]:
zenodo_creators_2024_orcids_deduped

,orcid,Column,name,affiliation,id
0,0000-0001-5000-7161,159363,Annette B. G. Janssen,Wageningen University & Research,8116796
1,0000-0001-5002-763X,179196,"Leckenby, Guy",TRIUMF,11556665
2,0000-0001-5005-6510,165531|216469,"Pham, Vu-Dong|Pham, Vu-Dong","Institute of Geography and Geology, University...",10653871|13960666
3,0000-0001-5006-0448,163490,"Aufmuth, Joe",University of Florida,10993541
4,0000-0001-5009-9916,174890,"Gallegos, Erika Elizabeth",Colorado State University,10606851
...,...,...,...,...,...
21972,0009-0009-9759-6130,178279,"Du, Yutong",Northwestern Polytechnical University,10820626
21973,0009-0009-9851-5312,165303|169019,"Samaniego López, Mariela Verónica|Samaniego Ló...",Universidad Nacional de Chimborazo|Universidad...,10642149|10838846
21974,0009-0009-9855-9040,223375,"Liu, Shanghua","Data Science in Bioeconomy, Leibniz Institute ...",14171429
21975,0009-0009-9887-8826,200523,"Güvencli, Nuri",Wageningen University & Research,13382828
21976,0009-0009-9983-004X,165880,"Duquerroy, Yohan",ENS Paris-Saclay,11238550

In [84]:
zenodo_creators_2024_orcids_deduped_sample = zenodo_creators_2024_orcids_deduped.sample(n=100, random_state=18)

In [85]:
zenodo_creators_2024_orcids_deduped_sample

,orcid,Column,name,affiliation,id
14087,0000-0002-9218-3363,218163,"Lévêque-Fort, Sandrine",CNRS,14505755
187,0000-0001-5185-8427,209800,"bassik, michael",NaN,13756270
14301,0000-0002-9425-2414,167226,"Molin, Marianne",OsloMet – Oslo Metropolitan University,10532808
14613,0000-0002-9751-2971,176642,"Singh, Balwant",University of Sydney,11397597
12053,0000-0002-7143-1823,178283,"Gan, Woon-seng",Nanyang Technological University,10820626
...,...,...,...,...,...
4722,0000-0001-9842-9718,160808|213421,"Soiland-Reyes, Stian|Soiland-Reyes, Stian",University of Manchester|University of Manchester,11202656|14317922
14313,0000-0002-9434-3156,175663,"Fonod, Robert",École Polytechnique Fédérale de Lausanne,12568873
5505,0000-0002-0598-1640,189161|211414,"Ostap-Chec, Monika|Ostap-Chęć, Monika","Doctoral School of Exact and Natural Sciences,...",11530863|13940487
14822,0000-0002-9939-9853,171526|207287,"Bicego, Marcia|Bicego, Marcia",Universidade de São Paulo|Universidade de São ...,10822933|14567644
7963,0000-0002-3051-2352,206353,"Tuna, Fernando",Universidade Federal do Rio de Janeiro,14245895

In [86]:
filetime = datetime.now()
filetime = filetime.strftime('%Y-%m-%d_%I-%M_%p')

zenodo_creators_2024_orcids_deduped_sample.to_csv(f'zenodo_creators_2024_orcids_deduped_sample_{filetime}.csv')

In [87]:
zenodo_creators_2024_orcids_excel_ods_deduped = pd.read_csv('zenodo-creators-2024-orcids-excel-ods-2025-03-24-01-13-PM-deduped.csv')

In [88]:
zenodo_creators_2024_orcids_excel_ods_deduped

,orcid,Column,name,affiliation,id
0,0000-0001-5000-7161,159363,Annette B. G. Janssen,Wageningen University & Research,8116796
1,0000-0001-5002-763X,179196,"Leckenby, Guy",TRIUMF,11556665
2,0000-0001-5005-6510,165531,"Pham, Vu-Dong","Institute of Geography and Geology, University...",10653871
3,0000-0001-5006-0448,163490,"Aufmuth, Joe",University of Florida,10993541
4,0000-0001-5014-211X,204019,"FERRIA, Jordan",Ecole polytechnique palaiseau (LadHyX),13981438
...,...,...,...,...,...
13815,0009-0009-9737-7368,204562,"Ďurana, Jozef",NaN,14066250
13816,0009-0009-9851-5312,165303|169019,"Samaniego López, Mariela Verónica|Samaniego Ló...",Universidad Nacional de Chimborazo|Universidad...,10642149|10838846
13817,0009-0009-9855-9040,223375,"Liu, Shanghua","Data Science in Bioeconomy, Leibniz Institute ...",14171429
13818,0009-0009-9887-8826,200523,"Güvencli, Nuri",Wageningen University & Research,13382828
13819,0009-0009-9983-004X,165880,"Duquerroy, Yohan",ENS Paris-Saclay,11238550

In [89]:
zenodo_creators_2024_orcids_excel_ods_deduped_sample = zenodo_creators_2024_orcids_excel_ods_deduped.sample(n=100, random_state=18)

In [90]:
zenodo_creators_2024_orcids_excel_ods_deduped_sample

,orcid,Column,name,affiliation,id
4384,0000-0002-2049-2765,159112,"Rodriguez-Ramos, Josue",Colorado State University,10929037
12590,0000-0003-4982-6252,179211,"Griffin, Chris",TRIUMF,11556665
9365,0000-0002-9996-5114,169388,"Wang, Hanshu",Affiliated Hospital of Qingdao University,10548096
9738,0000-0003-0559-5077,167475|172873|206750,"Sandri, Giulia|Sandri, Giulia|Sandri, Giulia",Université Catholique de Lille|Université Cath...,10997395|10997530|13918421
6810,0000-0002-5846-2836,169050,"Sofokleous, Ioannis","Energy, Environment and Water Research Center,...",10900317
...,...,...,...,...,...
8472,0000-0002-8562-2989,205748,"Hassan, Md. Rakib",University of Asia Pacific,14582688
2283,0000-0001-8704-2745,199565,"Ramos-Sosa, Maria del Pino",Universidad Loyola Andalucía,13720112
5304,0000-0002-3547-3110,211601,"Ilíková, Iva",NaN,13819747
6932,0000-0002-6051-9010,205880|213761,"Munthe-Kaas, Heather Menzies|Munthe-Kaas, Heat...",Norwegian Institute of Public Health,14011757|14035136
11821,0000-0003-3797-2148,169680,"Tsuyuzaki, Koki",Chiba University,11044102

In [91]:
filetime = datetime.now()
filetime = filetime.strftime('%Y-%m-%d_%I-%M_%p')

zenodo_creators_2024_orcids_excel_ods_deduped_sample.to_csv(f'zenodo_creators_2024_orcids_excel_ods_deduped_sample_{filetime}.csv')